<!DOCTYPE HTML>
<html>

<head>
	<link rel="stylesheet" href="/static/css/bootstrap.css">
</head>

<body>
	<div class="container">
		<table class="table table-striped shadow p-3 mb-5 bg-white rounded" , style="margin-top:50px;">
			<thead class=" table-dark">
				<tr>
					<th>#</th>
					{% comment %} {% for key in keys %} {% endcomment %}
					<th>date</th>
					<th>Dir<br>(deg)</th>
					<th>Hs<br>(ft)</th>
					<th>Hmax<br>(ft)</th>
					<th>Tp<br>(s)</th>
					{% comment %} {% endfor %} {% endcomment %}
				</tr>
			</thead>
			<tbody>
				{% for value in csvval %}
				<tr>
					<th>{{ forloop.counter }}</th>
					{% for item in value %}
					<td>
						{{ item }}
					</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="container col-10 border rounded shadow p-3 mb-5 bg-white rounded" , style="margin-top: 65px; ">
	<script src="/static/js/bootstrap.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
	<canvas id="myChart" width=600px height=100px ></canvas>
	<script>
		const ctx = document.getElementById('myChart').getContext('2d');
		const myChart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: [{%for time in times%}"{{time}}",{% endfor %}],
				datasets: [{
					label: 'Hs(ft)',
					fill : true,
					//yAxisID : 'a2',
					data: [{% for data in a3 %} {{data}}, {% endfor %}],
					borderColor : 'rgb(114, 247, 255)',
					backgroundColor : 'rgb(181, 255, 255)',
				},
                {
                    label: 'Hmax(ft)',
					fill : true,
                    data: [{% for data in a4 %} {{data}}, {% endfor %}],
					borderColor : 'rgb(0, 191, 255)',
					backgroundColor : 'rgb(128, 223, 255)',
                    
                }]
			},
			options: {
				//responsive : false,
				lineTension : 0.6,
				radius : 0,
				borderWidth : 2,
				animation : true,
				//delay : 100,
				plugins: {
					legend: {
						display : true,
						labels: {
							// This more specific font property overrides the global property
							font: {
								size: 16
							}
						}
					}
				},
				scales: {
					x: {
						grid: {
						  display: false
						}
					  },
					  y: {
						title: {
						  display: true,
						  text: 'time(hour)',
						  font: {
							size: 14
						}
						},
						grid: {
							display: false
						  },
						}
					
						}
					}
				});
	</script>
	</div>
	<div class="container col-10 border rounded shadow p-3 mb-5 bg-white rounded">
	<canvas id="chart2" width=600px height=100px ></canvas>
	<script>
		const ssx = document.getElementById('chart2').getContext('2d');
		const chart2 = new Chart(ssx, {
			type: 'line',
			data: {
				labels: [{%for time in times%}"{{time}}",{% endfor %}],
				datasets: [{
					label: 'direction(deg)',
					fill : true,
				//	yAxisID : 'V5',
					data: [{% for data in a2 %} {{data}}, {% endfor %}],
					borderColor : 'rgb(255, 87, 51)',
					backgroundColor : 'rgb(255, 173, 126)',
					
				},              
				]
			},
			options: {
				plugins: {
					title: {
						display: true,
						text: 'Direction(deg)',
						font: {
							size: 16
						}
						
					},
					legend: {
						display : false,
						labels: {
							// This more specific font property overrides the global property
							font: {
								size: 16
							}
						}
					}
				},
				//responsive : false,
				lineTension : 0.6,
				radius : 0,
				borderWidth : 2,
				animation : true,
				//delay : 100,				
				scales: {
					x: {
						grid: {
						  display: false
						}
					  },
					  y: {
						title: {
						  display: true,
						  text: 'time(hour)',
						  font: {
							size: 14
						}
						},
						grid: {
							display: false
						  },
						}
					
						}
					}
				});
	</script>
	</div>
	<div class="container col-10 border rounded shadow p-3 mb-5 bg-white rounded">
    <canvas id="chart3" width=600px height=100px ></canvas>
	<script>
		const gtx = document.getElementById('chart3').getContext('2d');
		const chart3 = new Chart(gtx, {
			type: 'line',
			data: {
				labels: [{%for time in times%}"{{time}}",{% endfor %}],
				datasets: [{
					label: 'Tp',
					fill : true,
				//	yAxisID : 'V5',
					data: [{% for data in a5 %} {{data}}, {% endfor %}],
					borderColor : 'rgb(82, 182, 64)',
					backgroundColor : 'rgb(168, 255, 143)',
				},
				]
			},
			options: {
				plugins: {
					title: {
						display: true,
						text: 'Tp',
						font: {
							size: 16
						}
						
					},
					legend: {
						display : false,
						labels: {
							// This more specific font property overrides the global property
							font: {
								size: 16
							}
						}
					}
				},
				//responsive : false,
				lineTension : 0.6,
				radius : 0,
				borderWidth : 2,
				animation : true,
				//delay : 100,				
				scales: {
					x: {
						grid: {
						  display: false
						}
					  },
					  y: {
						title: {
						  display: true,
						  text: 'time(hour)',
						  font: {
							size: 14
						}
						},
						grid: {
							display: false
						  },
						}
					
						}
					}
				});
	</script>
	</div>
    {% comment %} <p>{% for data in a5 %} {{data}} {% endfor %}</p> {% endcomment %}
	</body>

</html>