<!DOCTYPE HTML> 
<html>
	<head><link rel="stylesheet" href="/static/css/bootstrap.css"></head>
	<body>
		<div class="container col-12" , style="margin-bottom: 100px; width: 800px;">
			<script src="/static/js/bootstrap.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
			<canvas id="myChart" width=600px height=100px ></canvas>
			<script>
				const ctx = document.getElementById('myChart').getContext('2d');
				const myChart = new Chart(ctx, {
					type: 'line',
					data: {
						labels: [{%for time in times%}"{{time}}",{% endfor %}],
						datasets: [{
							label: 'wind speed',
							yAxisID : 'v4',
							data: [{% for data in v4 %} {{data}}, {% endfor %}],
							borderColor : 'rgb(0,0,139)'
						}]
					},
					options: {
						//responsive : false,
						lineTension : 0.6,
						radius : 0,
						borderWidth : 2,
						animation : true,
						//delay : 100,
						title : {
							display : true,
							text : "title" ,
						},
						scales: {
							x: {
								grid: {
								  display: false
								}
							  },
							 
							
								}
							}
						});
			</script>
			
			<canvas id="chart2" width=600px height=100px ></canvas>
			<script>
				const ssx = document.getElementById('chart2').getContext('2d');
				const chart2 = new Chart(ssx, {
					type: 'line',
					data: {
						labels: [{%for time in times%}"{{time}}",{% endfor %}],
						datasets: [{
							label: 'direction',
							yAxisID : 'V5',
							data: [{% for data in v5 %} {{data}}, {% endfor %}],
							borderColor : 'rgb(139, 0 , 0)'
						}]
					},
					options: {
						//responsive : false,
						lineTension : 0.6,
						radius : 0,
						borderWidth : 2,
						animation : true,
						//delay : 100,				
						scales: {
							x: {
								grid: {
								  display: false
								}
							  }
							
								}
							}
						});
			</script>
		</div>

		</body>
</html>