<!DOCTYPE HTML>
<html>

<head>
	<link rel="stylesheet" href="/static/css/bootstrap.css">
</head>

<body>
	<div class="container">
		<table class="table table-striped">
			<thead class=" table-dark">
				<tr>
					<th>#</th>
					{% comment %} {% for key in keys %} {% endcomment %}
					<th>time</th>
					<th>t_min</th>
					<th>speed_min(m/s)</th>
					<th>speed_min(knots)</th>
					<th>direction</th>
					<th>vx(knots)</th>
					<th>vy(knots)</th>
					{% comment %} {% endfor %} {% endcomment %}
				</tr>
			</thead>
			<tbody>
				{% for value in val %}
				<tr>
					<th>{{ forloop.counter }}</th>
					{% for item in value %}
					<td>
						{{ item }}
					</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<script src="/static/js/bootstrap.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
	<canvas id="myChart" width=600px height=100px ></canvas>
	<script>
		const ctx = document.getElementById('myChart').getContext('2d');
		const myChart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: [{%for time in times%}"{{time}}",{% endfor %}],
				datasets: [{
					label: 'wind speed',
					yAxisID : 'v4',
					data: [{% for data in v4 %} {{data}}, {% endfor %}],
					borderColor : 'rgb(0,0,139)'
				}]
			},
			options: {
				//responsive : false,
				lineTension : 0.6,
				radius : 0,
				borderWidth : 2,
				animation : true,
				//delay : 100,
				title : {
					display : true,
					text : "title" ,
				},
				scales: {
					
						}
					}
				});
	</script>
	
	<canvas id="chart2" width=600px height=100px ></canvas>
	<script>
		const ssx = document.getElementById('chart2').getContext('2d');
		const chart2 = new Chart(ssx, {
			type: 'line',
			data: {
				labels: [{%for time in times%}"{{time}}",{% endfor %}],
				datasets: [{
					label: 'direction',
					yAxisID : 'V5',
					data: [{% for data in v5 %} {{data}}, {% endfor %}],
					borderColor : 'rgb(139, 0 , 0)'
				},
				]
			},
			options: {
				//responsive : false,
				lineTension : 0.6,
				radius : 0,
				borderWidth : 2,
				animation : true,
				//delay : 100,				
				scales: {
					
						}
					}
				});
	</script>
	</body>

</html>