<!DOCTYPE HTML>
<html>

<head>
	<link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
{% comment %} ["00","06","12","18","00","06","12","18","00","06","12","18","00","06","12","18","00","06","12","18"] {% endcomment %}

<body>
	{% comment %} <div>
		{%for date in dates%}
		{{date}},
		{% endfor %}

	</div> {% endcomment %}
	<div class="container col-12">
		<table class="table table-striped shadow p-3 mb-5 bg-white rounded" , style="margin-top:50px;">
			<thead class=" table-dark">
				<p>{{timelist}}</p>
				<tr>
					<th>#</th>
					{% comment %} {% for key in keys %} {% endcomment %}
					<th>time<br>(h)</th>
					<th>t_min<br>(s)</th>
					<th>speed_min<br>(m/s)</th>
					<th>speed_min<br>(knots)</th>
					<th>direction<br>(deg)</th>
					<th>vx<br>(knots)</th>
					<th>vy<br>(knots)</th>
					{% comment %} {% endfor %} {% endcomment %}
				</tr>
			</thead>
			<tbody>
				{% for value in val %}
				<tr>
					<th>{{ forloop.counter }}</th>
					{% for item in value %}
					<td>
						{{ item }}
					</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


	

	<div class="container col-12 border rounded shadow-none p-3 mb-5 bg-light rounded" , style="margin-top: 65px; ">
		<script src="/static/js/bootstrap.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
		
		<canvas id="lineChart" width=700px height=190px ></canvas>
		<script>


			const datehighlighter = {
				id : "datehighlighter",
				beforeDatasetsDraw(chart , args , plugins , options) {
					const { ctx , chartArea : {top , bottom , left , right , width , height},  scales : {x , y} } = chart;
					//for (let i = 0 ; i < 242 ; i++){
						//var ctx = chart.ctx;
						//var xaxis = chart.scales['x'];
						//var yaxis = chart.scales['y'];
						//1
						
						ctx.fillStyle = 'rgba(211, 211, 211,0.8)';
						ctx.fillRect(x.left+3, y.top, x.width/10, y.height);
						//2
						ctx.fillStyle = 'rgba(255, 255, 224,0.8)';
						ctx.fillRect(x.left+3 + x.width/10, y.top, x.width/10, y.height);
						//3
						ctx.fillStyle = 'rgba(211, 211, 211,0.8)';
						ctx.fillRect(x.left+2 + x.width/5, y.top, x.width/10, y.height);
						//4
						ctx.fillStyle = 'rgba(255, 255, 224,0.8)';
						ctx.fillRect(x.left+1 + 3*x.width/10, y.top, x.width/10, y.height);
						//5
						ctx.fillStyle = 'rgba(211, 211, 211,0.8)';
						ctx.fillRect(x.left+2 + 4*x.width/10, y.top, x.width/10, y.height);
						//6
						ctx.fillStyle = 'rgba(255, 255, 224,0.8)';
						ctx.fillRect(x.left+2 + 5*x.width/10, y.top, x.width/10, y.height);
						//7
						ctx.fillStyle = 'rgba(211, 211, 211,0.8)';
						ctx.fillRect(x.left+2 + 6*x.width/10, y.top, x.width/10, y.height);
						//8
						ctx.fillStyle = 'rgba(255, 255, 224,0.8)';
						ctx.fillRect(x.left+2 + 7*x.width/10, y.top, x.width/10, y.height);
						//9
						ctx.fillStyle = 'rgba(211, 211, 211,0.8)';
						ctx.fillRect(x.left+2 + 8*x.width/10, y.top, x.width/10, y.height);
						//10
						ctx.fillStyle = 'rgba(255, 255, 224,0.8)';
						ctx.fillRect(x.left+2 + 9*x.width/10, y.top, x.width/10, y.height);
						ctx.save();
						ctx.strokeStyle = "black";
						ctx.lineWidth = 3;
						//ctx.setLineDash(options.borderDash || []);
						//ctx.lineDashOffset = options.borderDashOffset;
						ctx.strokeRect(left, top, width, height);
						ctx.restore();
				}
				}
			
{% comment %} 			
			const chartAreaBorder = {
				id: 'chartAreaBorder',
				beforeDraw(chart, args, options) {
				  const {ctx, chartArea: {left, top, width, height} } = chart;
				  ctx.save();
				  ctx.strokeStyle = options.borderColor;
				  ctx.lineWidth = options.borderWidth;
				  ctx.setLineDash(options.borderDash || []);
				  ctx.lineDashOffset = options.borderDashOffset;
				  ctx.strokeRect(left, top, width, height);
				  ctx.restore();
				}
			  }; {% endcomment %}
			{% comment %} const customVerticalLine = {
				id: 'customVerticalLine',
				afterDatasetsDraw(chart,args,plugins) {
					const{ctx, data, chartArea : {top , bottom , left , right , width , height},scales : {x,y} } = chart;
					ctx.save();

					data.labels.forEach((labe,index) => {
						console.log(label)
					ctx.beginPath();
					ctx.fillStyle = 'rgba(10,50,0,0.8)';
					ctx.roundRect(x.getPixelForValue(index),top + height/2 - 50, 30 , 100 , 20);
					ctx.fill();
					})
				} 
			};  {% endcomment %}
			{% comment %} const arbitraryline = {
				id: 'arbitraryline',
				beforeDraw(chart , args , options) {
					const{ctx , chartArea: {left, top , width , height} , scales:
					{x,y} } = chart;
					ctx.save();
					ctx.strokeStyle = 'red';
					ctx.strokeRect(x.getPixelForValue(options.xPosition), top, 0 , height);
					ctx.restore();
				}
			  };  {% endcomment %}
			
			const ctx = document.getElementById('lineChart').getContext('2d');
			const lineChart = new Chart(ctx, {
				type: 'line',
				data: {
					datasets: [{
						label: 'Wind Speed',
						//fill : true,
					//	yAxisID : 'v4',
						data: [{% for data in v4 %} "{{data}}", {% endfor %}],
						borderColor : 'rgb(0,0,139)',
						//backgroundColor : 'rgb(0,0,139)',
					}],
				},
				options: {
					plugins: {
						datehighlighter: {
							borderColor: 'red',
							borderWidth: 2,
							borderDash: [5, 5],
							borderDashOffset: 2,
						},
					
						//[customBorder] ,
						title: {
							display: true,
							text: 'Wind Speed',
							font: {
								size: 16
							}
							
						},
						legend: {
							display : false,
							labels: {
								// This more specific font property overrides the global property
								font: {
									size: 16
								}
							}
						}
					},
					
					//responsive : false,
					lineTension : 0.6,
					//radius : 1,
					pointHoverRadius : 5,
					borderWidth : 2,
					animation : false,
					pointRadius : 2,
					//pointStyle : 'rectRot',
					pointStyle : 'circle ch',
					backgroundColor : 'rgb(	100, 149, 237)',
					pointBorderColor : 'rgb(25, 25, 112)',
					//delay : 100,
					
					scales: {
						x: {
							labels: [{%for time in times%} "{{time}}",{% endfor %}],
							offset : true,
							ticks: {
								autoSkip: true,
								maxTicksLimit: 45,
								color: 'black',
								maxRotation: 0,
                    			minRotation: 0,
								
							},
							drowBorder: false,
							//type: 'timeseries',
							border: {
								display: true,
							},
							grid: {
								borderDash: [3, 3],
								borderDashOffset: 2,
								tickMarkLength: 2 ,
								//color : "red",
								color: 'black',
								display: true,
								
							},
						},
						x2 :{	
							labels:[null,{%for date in dates%} "{{date}}",null ,{% endfor %} ],
							ticks: {
								color: 'black',	
								font: {
									size: 12,
								}
                    			//position: 'left',
							},
							gridLines: {
								//offsetGridLines: true
							}
					
						},
						y: {
							offset : true,
							drowBorder: false,
							ticks: { color: 'black', beginAtZero: true }, //change number of color
							border: {
								display: true,
								//backgroundColor:'rgb(0,0,0)'
							  },
							title: {
							  display: true,
							  text: 'time(hour)',
							  font: {
								size: 14
							}
							},
							grid: {
								tickMarkLength: 2 ,
								borderDash: [3, 3],
								borderDashOffset: 2,
								color: 'black',
       							//borderColor: 'black' ,
							//	drawOnChartArea: false,
								display: true,
								//color:'rgb(0,0,0)',
								zeroLineColor: "#fff",

							
								
							  },
							  
							},
						
					    }
						
					},
				
					//plugins : [chartAreaBorder],
					//plugins : [customVerticalLine],
					plugins : [datehighlighter]
				});
		</script>
	    </div>
	<div class="container col-12 border rounded shadow-none p-3 mb-5 bg-light rounded" , style="margin-top: 65px; ">	
		<canvas id="chart2" width=700px height=190px ></canvas>
		<script>
			const ssx = document.getElementById('chart2').getContext('2d');
			const chart2 = new Chart(ssx, {
				type: 'line',
				data: {
					datasets: [{
						label: 'Direction',
						fill : false,
						fillColor : 'blue',
					//	yAxisID : 'V5',
						data: [{% for data in v5 %} "{{data}}", {% endfor %}],
						borderColor : 'rgb(187,0,0)',
						//backgroundColor : 'rgb(249,69,69)',
					}]
				},
				options: {
					//responsive : false,
					lineTension : 0.6,
					radius : 0,
					borderWidth : 2,
					animation : false,
					pointHoverRadius : 5,
					pointRadius : 2,
					pointStyle : 'circle ch',
					backgroundColor : 'rgb(249,69,69)',
					pointBorderColor : 'rgb(187,0,0)',
					//delay : 100,				
					scales: {
						x: {
							labels:[{%for time in times%}"{{time}}",{% endfor %}],
							offset : true,
							ticks: {
								autoSkip: true,
								maxTicksLimit: 45,
								color: 'black',
								maxRotation: 0,
                    			minRotation: 0,
							},
							drowBorder: false,
							//type: 'timeseries',
							border: {
								display: true,
							},
							grid: {
								borderDash: [3, 3],
								borderDashOffset: 2,
								tickMarkLength: 2 ,
								//color : "red",
								color: 'black',
								display: true,
							}
						  }, 
						  x2 :{	
							labels:[null,{%for date in dates%} "{{date}}",null ,{% endfor %} ],
							ticks: {
								color: 'black',	
								font: {
									size: 12,
								}
                    			//position: 'left',
							},
						},
						y: {
							offset : true,
							drowBorder: false,
							ticks: { color: 'black', beginAtZero: true }, //change number of color
							border: {
								display: true,
								//backgroundColor:'rgb(0,0,0)'
							  },
							title: {
							  display: true,
							  text: 'time(hour)',
							  font: {
								size: 14
							}
							},
							grid: {
								tickMarkLength: 2 ,
								borderDash: [3, 3],
								borderDashOffset: 2,
								color: 'black',
       							//borderColor: 'black' ,
							//	drawOnChartArea: false,
								display: true,
								//color:'rgb(0,0,0)',
								zeroLineColor: "#fff",

							
								
							  },
							  
							}
						
					    },
								
						plugins: {
							datehighlighter: {
								borderColor: 'red',
								borderWidth: 2,
								borderDash: [5, 5],
								borderDashOffset: 2,
							},
						
							//[customBorder] ,
							title: {
								display: true,
								text: 'Direction',
								font: {
									size: 16
								}
								
							},
							legend: {
								display : false,
								labels: {
									// This more specific font property overrides the global property
									font: {
										size: 16
									}
								}
							}
						},
					},
					plugins : [datehighlighter]
				});
		</script>
	</div>
	
	</body>

</html>